body {
    background: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
}

.stred{
    text-align: center;
}

body, html{
    height: 100%;
}


a {text-decoration: none;}

p{
    text-align: center;
}

.button{
    background-color: rgb(255, 0, 0) ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px ;
    padding: 15px ;
    color: rgb(255, 255, 255) ;
    display: inline-block ;
    margin: 10px;
}

.button:hover {
    color: black;
}

.loga {
    padding: 40px;
}   
.loga img {margin: 1%;}

.loga .vlajka {padding-bottom: 20px;}

@media (max-width: 550px) {
    .button{
        display:block;
        width:80%;
        padding-left:0;
        padding-right:0;
    }
}